
<header class="header">

    <div class="header-large">
    
            <div class="header-top">
    
                <div class="left">
                    <a href="/">
                        <img src="assets/static/images/CHLogo_StackedColor@1x.png" alt="Cardinal Health" />
                    </a>
                </div>
    
                <div class="right">
                    <div class="d-flex h-100">
                        <!-- <a href="#" class="header-link">
                            <svg class="icon p-1" focusable="false">
                                <use xlink:href="assets/static/icons/icon-alert1.svg#asset"></use>
                                <title>alert</title>
                            </svg>
                        </a> -->
                        <div ngbDropdown class="dropdown header-link">
                            <a ngbDropdownToggle id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <svg class="icon p-1" focusable="false">
                                    <use xlink:href="assets/static/icons/icon-user1.svg#asset"></use>
                                    <title>user</title>
                                </svg>
    
                                <span class="label truncate pl-2">Hi, Kevin</span>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item" routerLink="/preferences">Update your preferences</a><div class="dropdown-divider"></div>
                            </div>
                        </div>
                        <div ngbDropdown class="dropdown header-link pr-5">
                            <a ngbDropdownToggle id="accountDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <svg class="icon p-1" focusable="false">
                                    <use xlink:href="assets/static/icons/icon-account.svg#asset"></use>
                                    <title>account</title>
                                </svg>
                                <span class="label truncate pl-2">Pharmacy A</span>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="accountDropdown">
                                <!-- <a class="dropdown-item dropdown-icon" href="#">
                                    <svg class="icon p-1" focusable="false">
                                        <use xlink:href="assets/static/icons/icon-search.svg#asset"></use>
                                        <title>Search</title>
                                    </svg>
                                    <span class="pl-2">Find your account</span>
                                </a> -->
                                <div class="dropdown-divider"></div> 
                                <span >
    
                                    <a  class="dropdown-item truncate"  >A Pharmacy</a><div class="dropdown-divider"></div>
    
                                </span>
                            </div>
                        </div>
                    </div>
                    <a href="http://cardinalhealth.com" class="return-oe">
                        <div>
                            <svg class="icon pb-1" focusable="false">
                                <use xlink:href="assets/static/icons/icon-return.svg#asset"></use>
                                <title>Back to Order Express</title>
                            </svg>
                            <div>Return</div>
                            <div>to Order</div>
                            <div>Express</div>
                        </div>
                    </a>
                </div>
            </div>
    
<!--     
            <div class="header-lg-main">
                <img src="assets/static/images/hdr_deliveryclosure_1280@1x.jpg" alt="" style="width:100%;">
                <div class="header-main-content">
                    <div class="title"></div>
                </div>
            </div> -->
    
        </div>
    
    </header>
    
